@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Lexend+Deca:wght@500&family=Red+Hat+Display:wght@700&family=Roboto:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    box-shadow: 0 0 10px 2px rgb(156, 156, 156);
    border-radius: 9px;
}

.card {
    width: 300px;
    height: 400px;
}

.card1 {
    background: hsla(30, 77%, 52%, 1);
    border-radius: 9px 0px 0px 9px;
}

.card2 {
    background: hsla(185, 98%, 23%, 1);
    border-radius: 0px;
}

.card3 {
    background: hsla(179, 100%, 13%, 1);
    border-radius: 0px 9px 9px 0px;
}

.card .logo {
    margin: 30px 25px;
}

.card .title {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    width: 100%;
    font-size: 25px;
}

.card .desc {
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(211, 211, 211);
    line-height: 25px;
}

.card button {
    padding: 13px 25px;
    cursor: pointer;
    border: none;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    margin: 20px 30px;
}

.card1 button {
    color: hsla(30, 77%, 52%, 1);
}

.card2 button {
    color: hsla(185, 98%, 23%, 1);
}

.card3 button {
    color: hsla(179, 100%, 13%, 1);
}

.card button:hover,
button:active {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    padding: 11px 21px;
}


/* Make cards responive for mobile */
@media screen and (max-width: 925px) {
    .container {
        flex-direction: column;
    }

    .card1 {
        border-radius: 9px 9px 0px 0px;
    }

    .card3 {
        border-radius: 0px 0px 9px 9px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 80vw;
    }
}